

#logo-one{
    height: 70px;
    border-radius: 25px;
    border: 5px solid rgba(192, 179, 152, 0.705);
}

#egitmen{
   width: 55%;
}



body::before{
    display: block;
    content: "";
    height: 110px;
    padding: 10px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}